<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'bunnies')}">

  <body>
  
  
    <h2>Bunny Information</h2>
  
  
    <table class="table table-striped" th:object="${bunny}">
      <tr>
        <th>Title</th>
        <td><b th:text="*{title}"></b></td>
      </tr>
      <tr>
        <th>Where</th>
        <td th:text="*{where}" /></td>
      </tr>
      <tr>
        <th>StartDate</th>
        <td th:text="*{startDate}" /></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${bunny.id})}" class="btn btn-default">Edit
      bunny</a>
    <a th:href="@{{id}/carrots/new(id=${bunny.id})}" class="btn btn-default">Add
      New Carrot</a>
  
    <br />
    <br />
    <br />
    <h2>Carrots and Visits</h2>
  
    <table class="table table-striped">
  
      <tr th:each="carrot : ${bunny.carrots}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd th:text="${carrot.name}" /></dd>
            <dt>Start Date</dt>
            <dd
              th:text="${#temporals.format(carrot.startDate, 'yyyy-MM-dd')}" /></dd>
            <dt>Type</dt>
            <dd th:text="${carrot.type}" /></dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>Visit Date</th>
                <th>Description</th>
              </tr>
            </thead>
            <tr th:each="visit : ${carrot.visits}">
              <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
              <td th:text="${visit?.description}"></td>
            </tr>
            <tr>
              <td><a
                th:href="@{{bunnyId}/carrots/{carrotId}/edit(bunnyId=${bunny.id},carrotId=${carrot.id})}">Edit
                  Carrot</a></td>
              <td><a
                th:href="@{{bunnyId}/carrots/{carrotId}/visits/new(bunnyId=${bunny.id},carrotId=${carrot.id})}">Add
                  Visit</a></td>
            </tr>
          </table>
        </td>
      </tr>
  
    </table>
  
  </body>

</html>
