<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'bunnies')}">

  <body>

    <h2>Bunnies</h2>

    <table id="bunnies" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Title</th>
            <th style="width: 200px;">Where</th>
            <th style="width: 120px">Start Date</th>
            <th>Carrots</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="bunny : ${selections}">
              <td>
                  <a th:href="@{/bunnies/__${bunny.id}__}" th:text="${bunny.title}"/></a>
              </td>
              <td th:text="${bunny.where}"/>
              <td th:text="${bunny.startDate}"/>
              <td><span th:each="carrot : ${bunny.carrots}" th:text="${carrot.name} "/></td>
          </tr>
        </tbody>
    </table>

  </body>
</html>
