<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'bunnies')}">

<body>

  <h2>
    <th:block th:if="${carrot['new']}">New </th:block>
    Carrot
  </h2>
  <form th:object="${carrot}" class="form-horizontal" method="post">
    <input type="hidden" name="id" th:value="*{id}" />
    <div class="form-group has-feedback">
      <div class="form-group">
        <label class="col-sm-2 control-label">Bunny</label>
        <div class="col-sm-10">
          <span th:text="${carrot.bunny?.title}" />
        </div>
      </div>
      <input
        th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Start Date', 'startDate', 'date')}" />
      <input
        th:replace="~{fragments/selectField :: select ('Type', 'type', ${types})}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${carrot['new']} ? 'Add Carrot' : 'Update Carrot'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Carrot</button>
      </div>
    </div>
  </form>

</body>

</html>